

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #dcccff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}
     
.container {
	width: 100%;
}    

#map { 
	height: 600px; 
	width: 100%;
}

h3 {
	font-size: 26px;
	color: #47476b;
}

ul {
	list-style-type: none;
	padding-left: 0;
}
 
li {
	color: #8585ad;
} 

li:hover {
	background-color: #ccccff;
	color: #9933ff;
	font-weight: bold;
}  

.infowindowContent {
	background-color: #dcccff;
}

.description {
	max-width: 200px;
}

.name {
	font-size: 28px;
	font-weight: 400;
}

input {
	width: 100%;
}


